<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SimpleKVM</string>
	<key>CFBundleDisplayName</key>
	<string>Simple KVM</string>
	<key>CFBundleIdentifier</key>
	<string>com.fiddyschmitt.simplekvm</string>
	<key>CFBundleVersion</key>
	<string>2.3.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>SimpleKVM</string>
	<key>CFBundleIconFile</key>
	<string>SimpleKVM.icns</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
